<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nibble Web App">
    <meta name="generator" content="Jekyll v3.8.5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#343A40"/>
    <title>Nibble - Food App</title>

    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.2/examples/offcanvas/offcanvas.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.2/examples/sign-in/signin.css">
</head>

<body class="bg-light text-center">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<a class="navbar-brand mr-auto mr-lg-0" href="#">Nibble&nbsp;</a>
		<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		<a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Notifications</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Profile</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Switch account</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
		<div class="dropdown-menu" aria-labelledby="dropdown01">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		</div>
		</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		</div>	
	</nav>
<!-- SUBNAV -->
<!-- <div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
  </nav>
</div> -->

<main role="main" class="container">
  <form id='searchForm' class="form-signin" action="/search" method='POST'>
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Find best prices for food on Nibble</h1>
    <label for="searchQuery" class="sr-only">Search for restaurant or dishes</label>
    <input type="text" id="searchQuery" name='searchQuery' class="form-control" placeholder="Enter keywords" required autofocus>
    <div style="padding-bottom: 8px;"></div>
    <div class="list-group" id="list_menu">
      <a href="#" id ="i0" class="list-group-item list-group-item-action"></a>
      <a href="#" id ="i1" class="list-group-item list-group-item-action"></a>
      <a href="#" id ="i2" class="list-group-item list-group-item-action"></a>
      <a href="#" id ="i3" class="list-group-item list-group-item-action"></a>
      <a href="#" id ="i4" class="list-group-item list-group-item-action"></a>
    </div>


    <button id='submitButton'class="btn btn-lg btn-primary btn-block" type="submit" disabled>Please Enable Location</button>
    <div style="padding-bottom: 8px;"></div>
    <div class="checkbox mb-3">
    <label>
      <input onClick='locationCheck(this)' id='locationAccess' type="checkbox" value="location-access">&nbsp;Allow location access.
    </label>
    </div>

    <p class="mt-5 mb-3 text-muted">Developed by Potatoes</p>
    
    <input type="text" id='longitude' name="longitude" hidden/>
    <input type="text" id='latitude' name="latitude" hidden/>
  </form>

</main>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="js/nibble.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.2/examples/offcanvas/offcanvas.js"></script></body>

<script type="text/javascript">
  //LOCATION ACCESS SCRIPT

  window.onLoad(locationCheck());
  function locationCheck(x){
    
    if (x.checked == true){
    enableCoordinates();
    }else{
      submitButton.setAttribute('disabled','True');
      submitButton.innerText='Allow location access.';
    }
  }
  // checkbox = document.getElementById('locationAccess');
  
  function enableCoordinates() {
    var startPos;

    var geoSuccess = function(position) {
    //UNBLOCK SEARCH BUTTON

    submitButton=document.getElementById('submitButton');
    submitButton.removeAttribute('disabled');
    submitButton.innerText='Search';
    startPos = position;
    document.getElementById('longitude').value=startPos.coords.longitude;
    document.getElementById('latitude').value=startPos.coords.latitude;
    };
    navigator.geolocation.getCurrentPosition(geoSuccess);
  };
</script>        



</html>
