<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nibble Web App">
    <meta name="generator" content="Jekyll v3.8.5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#343A40"/>
    <title>Nibble - Food App</title>

    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
    table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    }

    table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
    table tr:first-child td:first-child{
        border-top-left-radius: 10px;

    }
    table tr:first-child td:last-child{
        border-top-right-radius: 10px;

    }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      img{
        
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.2/examples/offcanvas/offcanvas.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.2/examples/sign-in/signin.css">
</head>

<body class="bg-light text-center">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<a class="navbar-brand mr-auto mr-lg-0" href="#">Nibble&nbsp;</a>
		<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		<a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Notifications</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Profile</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Switch account</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
		<div class="dropdown-menu" aria-labelledby="dropdown01">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		</div>
		</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		</div>	
	</nav>
  <div style="padding-bottom: 15px;"></div>

<main role="main" class="container">
    <div id='preInfo'>
        <img id='photo' style="border-radius: 10px; max-width: 90vw" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/wkk9tk1udabalhibu0og">
        <p>
        <h2 id='restaurant_name'>Burger Singh</h2>
        <h5 id='location'>Kalkaji Mandir</h5>
        </p>
    </div>
    <div style="padding-bottom: 8px;"></div>
    <table  hidden id='card' style="background-color: #fbfcfc" class="table table-light">

        <tbody>
        <tr style="background-color: #343a4014">
        <td colspan="2">
        <h5 id='foodName'class="card-title"></h5>
        <p id='desc' class="card-text"></p>
        </td>
        </tr>
        <tr id='swiggyCard' style="background-color: #f3881e33"></strong>
        <td id='swiggyPrice' scope="row"><h1>₹68</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="https://www.swiggy.com/partner-with-us/wp-content/uploads/2018/06/Logo.png"></td>
        </tr>
        <tr id='zomatoCard' style="background-color: #de19196e">
        <td id='zomatoPrice' scope="row"><h1>₹124</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="http://internfeel.com/wp-content/uploads/2016/09/Zomato-Logo-640x300.jpg"></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        // AUTOMATE CARD GENERATION FROM DATA
        parent=document.querySelector('.container');
        var data = '<%= data %>';
        //HARDCODED DATA
        data={
         restaurant_name:'Burger Singh',
         location:'Kalkaji Mandir',
         menu:{'Potato Crunch Burger':['description',['₹68','₹100']],
                'Chicken Burger':['description',['₹68','₹100']]},
         links:['swiggy.com','zomato.com'],
         photo_link:"http://www.dwarka21.com/uploads/images/burger-1.jpg"
        };

        // data.restaurant_name
        // data.location
        for (key in data.menu){
            console.log(key,data.menu[key]);
        }
        data.menu.key=value
        // value[0]
        // value[1][0]
        // value[1][1]
        parent=document.querySelector('.container');
        card=document.getElementById('card');
        for(i=0;i<5;i++){
            newCard=card.cloneNode(true);
            newCard.removeAttribute('hidden')
            newCard.querySelector('.card-title').innerText='Potato Crunch Burger';
            //DO stuff with newCard
            parent.appendChild(newCard);
        }
        

        console.log(data);
    </script>
<!--     <div style="padding-bottom: 8px;"></div>
    <table style="background-color: #fbfcfc" class="table table-light">

        <tbody>
        <tr style="background-color: #343a4014">
        <td colspan="2">
        <h5 class="card-title">Potato Crunch Burger</h5>
        <p class="card-text">A crispy potato patty crowned with lettuce, onions & liquid cheese; topped with Burger Singh’s White Guy sauce.</p>
        </td>
        </tr>
        <tr style="background-color: #f3881e33"></strong>
        <td scope="row"><h1>₹68</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="https://www.swiggy.com/partner-with-us/wp-content/uploads/2018/06/Logo.png"></td>
        </tr>
        <tr style="background-color: #de19196e">
        <td scope="row"><h1>₹124</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="http://internfeel.com/wp-content/uploads/2016/09/Zomato-Logo-640x300.jpg"></td>
        </tr>
        </tbody>
    </table>
    <div style="padding-bottom: 8px;"></div>
    <table style="background-color: #fbfcfc" class="table table-light">

        <tbody>
        <tr style="background-color: #343a4014">
        <td colspan="2">
        <h5 class="card-title">Potato Crunch Burger</h5>
        <p class="card-text">A crispy potato patty crowned with lettuce, onions & liquid cheese; topped with Burger Singh’s White Guy sauce.</p>
        </td>
        </tr>
        <tr style="background-color: #f3881e33"></strong>
        <td scope="row"><h1>₹68</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="https://www.swiggy.com/partner-with-us/wp-content/uploads/2018/06/Logo.png"></td>
        </tr>
        <tr style="background-color: #de19196e">
        <td scope="row"><h1>₹124</h1></td>
        <td><img style='height: 70px;
        width: auto;' src="http://internfeel.com/wp-content/uploads/2016/09/Zomato-Logo-640x300.jpg"></td>
        </tr>
        </tbody>
    </table> -->

</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/4.2/examples/offcanvas/offcanvas.js"></script></body>


</html>
